{% extends "l::base.twig" %}
{% block body %}
    <div class="min-h-screen bg-gray-100">
        <header x-data="{ open: false }" class="pb-24 bg-gradient-to-r from-light-blue-800 to-cyan-600">
            {% block header %}{% endblock %}
        </header>
        <main class="-mt-24 pb-8">
            {% block content %} {% endblock %}
        </main>
        <footer>
            {% block footer %}
                <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
                    <div class="border-t border-gray-200 py-8 text-sm text-gray-500 text-center sm:text-left"><span
                                class="block sm:inline">© 2021 Tailwind Labs Inc.</span> <span class="block sm:inline">All rights reserved.</span>
                    </div>
                </div>
            {% endblock %}
        </footer>
    </div>
{% endblock %}